body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(https://cdna.artstation.com/p/assets/images/images/012/242/164/medium/patrick-horan-ig2-302b-mat-ear-extarticresearchstation-v02-matte.jpg?1533772717);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left, .right {
    width: 100%; 
    padding: 20px;
}

.left {
    background-color: #222;
    color: white;
}

.right {
    background-color: white;
}

#logo {
    width: 100px;
     margin-bottom: 10px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#image-gallery img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
